{% liquid
  assign min_value = min
  assign max_value = max
  assign input_from_selector_id = 'findify-price-range-from'
  assign input_to_selector_id = 'findify-price-range-to'
  assign submit_btn_selector_id = 'findify-price-submit-btn'
%}

<div class="price-range-container">
  <div class="price-range-content">
    <div class="findify-price-range-input-container">
      <input
        aria-label="{{'findify.filters.min_price' | t }}"
        min="{{ min_value }}"
        max="{{ max_value }}"
        type="number"
        class="price-range-input"
        id="{{ input_from_selector_id }}">
      <span>{{ currency }}</span>
    </div>
    <span>-</span>
    <div class="findify-price-range-input-container">
      <input
        aria-label="{{'findify.filters.max_price' | t }}"
        min="{{ min_value }}"
        max="{{ max_value }}"
        type="number"
        class="price-range-input"
        id="{{ input_to_selector_id }}">
      <span>{{ currency }}</span>
    </div>
  </div>
  <button id='{{ submit_btn_selector_id }}'>{{ 'findify.filters.go' | t }}</button>
</div>

<script>
  const rangeSearch = () => {
    const filter_name = '{{ name }}';
    const min_value = '{{ min_value }}';
    const max_value = '{{ max_value }}';

    const input_from_selector_id = '{{ input_from_selector_id }}';
    const input_to_selector_id = '{{ input_to_selector_id }}';
    const submit_btn_selector_id = '{{ submit_btn_selector_id }}';

    const fromInputElement = document.getElementById(input_from_selector_id);
    const toInputElement = document.getElementById(input_to_selector_id);
    const submitBtnElement = document.getElementById(submit_btn_selector_id);

    const onSubmitHandler = () => {
      const rate = findify.utils.getShopifyCurrencyRate();
      let from = Math.round(fromInputElement.value / rate)
      let to = Math.round(toInputElement.value / rate)
      console.log(from, to)
      console.log(fromInputElement.value / rate, toInputElement.value / rate)

      let value;
      if (parseFloat(from) && parseFloat(to)) {
        value = `from|${from}-to|${to}`;
      } else if (parseFloat(from) && !parseFloat(to)) {
        value = `from|${from}`;
      } else if (parseFloat(to) && !parseFloat(from)) {
        value = `to|${to}`;
      }

      if (value) {
        findify.filters.update({ value, type: 'range', name: filter_name });
      }
    };

    submitBtnElement.addEventListener('click', onSubmitHandler);
  };

  rangeSearch();
</script>