{% if variants contains 'pr=' %}
  {%- assign variant_price = variants | split: 'pr=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'pu=' %}
  {%- assign variant_product_url = variants | split: 'pu=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'qu=' %}
  {%- assign variant_quantity = variants | split: 'qu=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'ras=' %}
  {%- assign variant_reviews = variants | split: 'ras=' | last | split: '|' | first -%}{% endif %}

{% if variants contains 'si=' %}
  {%- assign variant_size = variants | split: 'si=' | last | split: '|' | first -%}{% endif %}

{% if variants contains 'sk=' %}
  {%- assign variant_sku = variants | split: 'sk=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'ta=' %}
  {%- assign variant_tags = variants | split: 'ta=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'ti=' %}
  {%- assign variant_title = variants | split: 'ti=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'ua=' %}
  {%- assign variant_updated_at = variants | split: 'ua=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'st=' %}
  {%- assign variant_stickers = variants | split: 'st=' | last | split: '|' | first -%}{% endif %}
{% if variants contains 'id=' %}
  {%- assign variant_id = variants | split: 'st=' | last | split: '|' | first -%}
{% endif %}

{% assign swatchData = '' %}

{% assign variantsArr = variants | split: '^' %}

{% for variant in variantsArr %}
  {% assign sizeVar = variant | split: 'si=' | last | split: '|' | first %}
  {% assign idVar = variant | split: 'id=' | last | split: '|' | first %}
  {% assign colorVar = variant | split: 'co=' | last | split: '|' | first %}
  {% assign availability = variant | split: 'av=' | last | split: '|' | first %}

  {% assign swatchData = swatchData | append: sizeVar | append: '^' | append: idVar | append: '~' | append: colorVar | append: '$' | append: availability | append: ',' %}

{% endfor %}

{% assign sizeCounter = 0 %}
{% assign colorCounter = 0 %}
{% assign lengthModificator = 4 %}

<div class='findify-swatches-container'>
  <div class='findify-flex-container'>
    <div class='sizeSwatchesContainer'>

      {% for size in sizes %}
        {% assign sizeKey = size | append: '^' %}
        {% assign variantId = swatchData | split: sizeKey | last | split: '^' | first | split: '~' | first %}
        {% assign isAvaliable = swatchData | split: sizeKey | last | split: ',' | first | split: '$' | last %}
        {% assign sizeUrl = product_url | split: "?variant=" | first | append: "?variant=" | append: variantId %}

        {% if size.size > 2 %}
          {% assign lengthModificator = 2 %}
        {% endif %}

        {% if isAvaliable == 't' %}

          {% assign sizeCounter = sizeCounter | plus: 1 %}

          {% if sizeCounter > lengthModificator %}
            <a
              class='findify-size-swatch hided-swatch-option'
              hidedSwatch={{ true }}
              href={{ sizeUrl }}>{{ size }}</a>
          {% else %}
            <a class='findify-size-swatch' href={{ sizeUrl }}>{{ size }}</a>
          {% endif %}

        {% endif %}

      {% endfor %}

      {% if sizeCounter > lengthModificator %}
        {% assign additionalSizes = sizeCounter | minus: lengthModificator %}
        <button class="sizeButton">+{{ additionalSizes }}</button>
      {% endif %}
    </div>
  </div>
</div>