<div  
    class="findify-filters-checkbox-item{%if componentType == " color"%}findify-filters--color-item{%endif%}"
    info="{{name}}|{{type}}"
    selected="{{selected}}" 
    value="{%if type == "range"%}{{attribute}}{%else%}{{value}}{%endif %}"
    >
    {%if componentType == "text" or componentType == "price"%}
    {% render 'findify-filters-text-value',
        selected: selected,
        hasChildren: hasChildren,
        value: value 
    %}
    {% elsif componentType == "reviews" %}
    {% render 'findify-filters-rating-value',
        selected: selected,
        value: value 
    %}
    {% elsif componentType == "color" %}
    {% render 'findify-filters-color-value',
        selected: selected,
        colorName: colorName,
        borderColor: borderColor 
    %}
    {%endif%}
    <span class=" findify-filters-checkbox-item-count">({{count}})</span>
</div>