
{% assign swatchData  =  '' %}

{%  assign variantsArr = variants | split:'^' %}

{%  for variant in variantsArr  %}
  {% assign sizeVar = variant | split: 'si=' | last | split: '|' | first   %}
  {% assign idVar = variant | split: 'id=' | last | split: '|' | first   %}
  {% assign colorVar = variant | split: 'co=' | last | split: '|' | first   %}
  {% assign availability = variant | split: 'av=' | last | split: '|' | first   %}
  
  {% assign swatchData = swatchData | append: sizeVar |  append:'^' | append: idVar |  append:'~' | append: colorVar | append:'$' | append: availability   | append:',' %}
  
{% endfor %}


{% assign sizeCounter = 0 %}
{% assign colorCounter = 0 %}
{% assign lengthModificator = 4 %}


<div class='findify-swatches-container'>  
  <div class='findify-flex-container'>  
     <div class='sizeSwatchesContainer'> 
       
        {% for size in sizes %}
         {% assign sizeKey = size | append:'^' %}
         {% assign variantId = swatchData | split: sizeKey | last | split:'^' | first | split:'~' | first   %}
         {% assign isAvaliable = swatchData | split: sizeKey | last | split:',' | first | split:'$' | last  %}
         {% assign sizeUrl = product_url | split: "?variant=" | first | append: "?variant=" | append: variantId %}  
            
           {% if size.size > 2  %}
             {% assign  lengthModificator= 2 %}
           {% endif %}
          
          {% if isAvaliable == 't' %}
            
            {% assign sizeCounter =  sizeCounter | plus:1 %}
            
            {% if sizeCounter > lengthModificator %}
                <a class='findify-size-swatch hided-swatch-option' hidedSwatch={{ true }} href={{ sizeUrl }} >{{ size }}</a>
            {% else %}
                <a class='findify-size-swatch' href={{ sizeUrl }} >{{ size }}</a>
            {% endif %} 
  
          {% endif %} 
    
        {% endfor %}
  
        {% if sizeCounter > lengthModificator  %}
          {% assign additionalSizes = sizeCounter | minus: lengthModificator %}
          <button  class="sizeButton" >+{{ additionalSizes }}</button>
        {% endif %}    
      </div>

      <div class='colorSwatchesContainer'> 
       
        {% for color in colors %}
         {% assign colorKey = '~'  | append: color  %}
         {% assign variantColorId = swatchData | split: colorKey | first | split:'^' | last | split:'~' | first %}
         {% assign isAvaliable = swatchData | split: colorKey | last | split:',' | first | split:'$' | last  %}
         {% assign colorUrl = product_url | split: "?variant=" | first | append: "?variant=" | append: variantColorId %}  
         {% assign hashColorKey = color | append:":" | downcase %}

         {% assign colorHexCode=''%}
          
         {%- if colorMappingParam contains hashColorKey %} 
        
           {% assign colorHexCode =  colorMappingParam | split: hashColorKey | last | split:',' | first %}
           
         {% endif %}

        {% if isAvaliable == 't' %}


          {% assign colorCounter =  colorCounter | plus:1 %}

        
           {% if colorHexCode contains  "https" %}
                <a class='findify-color-swatch'   href={{ colorUrl }} style="background: no-repeat url({{ colorHash }}) center" > </a>
            {% else %}
                <a class='findify-color-swatch' href={{ colorUrl }}  style=" background-color:{{ colorHexCode  }}"> </a>
            {% endif %}

         <!-- {% if colorCounter > 6 %}
                <a class='findify-color-swatch hided-swatch-option' hidedSwatch={{ true }} href={{ colorUrl }} >{{ color }}</a>
            {% else %}
                <a class='findify-color-swatch' href={{ colorUrl }} >{{ color }} {{ colorHash }} colorKey:{{ hashColorKey }}</a>
            {% endif %}  -->


         {% endif %} 
          

        {% endfor %}
      
        {% if colorCounter > 6  %}
          {% assign additionalSizes = sizes.size | minus: 6 %}
          <button  class="sizeButton" >+{{ additionalSizes }}</button>
        {% endif %}    
      </div>
  </div>
</div>


 {%- comment -%} 

{% assign isSize = false %}

{% for option in options %}
  {% assign lowercasedOption = option | downcase %}
  
  {% if lowercasedOption == 'size' %}
    {% assign isSize = true %}
    {% assign sizeIndex = forloop.index %}    
  {% endif %}
  
{% endfor %}

{% assign sizeTitles = '' %}
{% assign sizeData = '' %}


{% for variant in variants %}
  {% if isSize == true  %}
      {% assign sizeKey = "option" | append: sizeIndex %}    
      
      {% assign sizeValue = variant[sizeKey] %}
      {% assign sizeId = variant.id %}
      {% assign isAvailable = variant.available %}
      
      {% assign sizeTitles = sizeTitles | append:sizeValue  | append:'|' %}
      {% assign sizeData = sizeData  | append:sizeValue | append:'#'  |  append: sizeId | append: '$' | append: isAvailable  | append:'|' %}
  {% endif %}  
{% endfor %}

{% assign sizeSwatchesArray = sizeTitles | split:'|'  | uniq %}
{% assign sizeDataArray = sizeData | split:'|' %}

<div class='findify-swatches-container'>  
  <div class='findify-flex-container'>    
        <div class='sizeSwatchesContainer'> 

            {% if isSize == true %}
              {% assign swatchCounter = 0 %}
              
              {% for title in sizeSwatchesArray %}
                
                {% for data in sizeDataArray %}
                  
                    {% assign sizeTitle = data | split:'#' | first %}
                    {% assign sizeId = data | split:'#' | last  | split:'$' | first%}
                    {% assign isAvaliable = data | split:'#' | last  | split:'$' | last%}
                    {% assign sizeUrl = product.url | append: "?variant=" | append: sizeId %}  
            
                      {% if title == sizeTitle %}
                    
                        {% if isAvaliable == 'true' %}
                            {% assign swatchCounter =  swatchCounter | plus:1 %}
                          
                          {% if swatchCounter > 4 %}
                              <a class='findify-size-swatch hided-swatch-option' hidedSwatch={{ true }} href={{ sizeUrl }} >{{ title }}</a>
                          {% else %}
                              <a class='findify-size-swatch' href={{ sizeUrl }} >{{ title }}</a>
                          {% endif %} 

                        {% endif %}
                       {% break %}
                      {% endif %}
                        
                {% endfor %}
              {% endfor %}
              
              {% if swatchCounter > 4  %}
                {% assign additionalSizes = sizeSwatchesArray.size | minus: 4 %}
                <button  class="sizeButton" >+{{ additionalSizes }}</button>
              {% endif %}    
                
            {% endif %}            
        </div>
    
    <div class='colorSwatchesContainer'>
        {% for productColor in cardColors %}
          {% assign currentColorKey = productColor | split:'~' | first | append:':' %} 
          {% assign colorId = productColor | split:'~' | last %} 
          {% assign colorUrl = product.url | append: "?variant=" | append: colorId %}  
      
          {% if colorMapping contains currentColorKey  %}
            
            {% assign colorCode = colorMapping | split:currentColorKey | last | split:',' | first | split:'$' | last  %}  
            
            {% if colorCode contains  "https" %}
                <a class='findify-color-swatch'   href={{ colorUrl }} style="background: no-repeat url({{ colorCode }}) center" > </a>
            {% else %}
                {% assign colorHexCode = '#' | append: colorCode %}
                <a class='findify-color-swatch' href={{ colorUrl }}  style=" background-color:{{ colorHexCode  }}"> </a>
            {% endif %}
            
          {% endif %}
        {% endfor %}
    </div>
    
  </div>
</div>

 
{%- endcomment -%}

    
