{% assign term_decoded = terms | url_decode %}

<label class="findify-search-header-label">
  {% if is_collection == true %}
    {{ 'findify.collections.products_count' | t: count: results_count }}
  {% elsif terms == '' %}
    {{ 'findify.search.results_count' | t: count: results_count }}
  {% elsif corrected_q != '' %}
    Showing 36 Results For "{{ corrected_q }}". 0 Results For "
    {{ term_decoded }}
    ".
  {% elsif query_type == 'or' %}
    Showing 0 Results For "{{ term_decoded }}". Showing Results That Partially
    Match Instead.
  {% else %}
    {{
      'findify.search.results_count_for'
      | t: count: results_count, term: term_decoded
    }}
  {% endif %}
</label>
