<a class="findify-view-all view-all-{{position}}" href="{{ basepath }}?q={%- if query != 'none' -%} {{query}} {%- endif -%}">
  {%- if query == 'none' -%}
    {{ 'findify.autocomplete.view_all' | t }}
  {%- else -%}
    {{ 'findify.autocomplete.view_all_results_for' | t }}
    <span class="findify-components-autocomplete--tip__highlight">"{{ query }}"</span>
  {%- endif -%}
</a>