<div class="findify-filters-breadcrumbs-body">
    {%- assign filters = active_filters | split: ";" -%}
    {% for filter in filters %}
        {% assign parts = filter | split: '~' %}
        {% assign name = parts[0] %}
        {% assign type = parts[1] %}
        {% if type == 'range' %}
            {% assign from = parts[2] %}
            {% assign to = parts[3] %}
            {% assign value = 'from|' | append: from | append: '-to|' | append: to %}
            {% assign reviewValue =  from | append: 'to' | append: to  %}
            {%- else -%}
            {% assign value = parts[2] %}
        {% endif %}

        {% case type %}
                {% when 'range' %}
        <div class="findify-filters-breadcrumb-item" selected="true" type="{{type}}" name="{{name}}" value="{{value}}">
            {% case name %}   
                {% when 'reviews.average_score' %}
                    {% render 'findify-filter-rating-value',
                        selected: true,
                        value: reviewValue 
                    %}
                {% else %}
                    {% liquid
                        assign fake_price = 123
                        assign money_price = fake_price | times: 100 | money
                        assign currency = money_price | replace: fake_price, '' | replace: ',00', ''
                    %}
                    {% if from == 'undefined' %}
                        <span>under {{to | append: currency }}</span>
                    {%  elsif to == 'undefined' %}
                        <span>{{from | append: currency }} & up</span>
                    {%  else %}
                        {{ from | append: currency }} - {{ to | append: currency }}
                    {% endif %}
 
                {% endcase %}
            {% else %}
        <div class="findify-filters-breadcrumb-item" selected="true" type="{{type}}" name="{{name}}" value="{{value}}">
            {% case name %}
                {% when 'color' %}
                    {% if color_layout == 'color' %}
                        <span class="findify-filters--color-item-value color-mapping-background-{{value | downcase}} solid-circle">
                        </span>
                    {% endif %}
                    {% if color_layout == 'color_with_label' %}
                        <span class="findify-filters--color-item-value color-mapping-background-{{value | downcase}} circle-with-label"></span>
                            {{value}}
                        </span>
                    {% endif %}
                    {% if color_layout == 'label' %}
                    <span>
                        {{value}}
                    </span>
                {% endif %}
                {% else %}
                <span>
                    {{value}}
                </span>
            {% endcase %}
            {% endcase %}
            <div class="findify-filters-breadcrumb-close">
                {% render 'findify-icon-cross', size: 8 %}
            </div>
        </div>
    {% endfor %}
    <div class="findify-filters-breadcrumbs-show-more">
        <small></small>
        <div class="findify-filters-breadcrumb-close">
            {% render 'findify-icon-arrow', size: 8 %}
        </div>
    </div>
    <div class="findify-filters-breadcrumbs-clear-all" selected="true">
        <muted>Clear all</muted>
    </div>
</div>