{%- if card_product and card_product != empty -%}

  {% if card_product contains 'av=' %}
    {% assign availability = card_product | split: 'av=' | last | split: "~" | first %}{% endif %}
  {% if card_product contains 'co=' %}
    {% assign colors = card_product | split: 'co=' | last | split: "~" | first | url_decode | downcase | split: '^' %}{% endif %}
  {% if card_product contains 'cra=' %}
    {% assign created_at = card_product | split: 'cra=' | last | split: "~" | first %}{% endif %}
  {% if card_product contains 'svi=' %}
    {% assign selected_variant_id = card_product | split: 'svi=' | last | split: "~" | first %}{% endif %}
  {% if card_product contains 'gid=' %}
    {% assign item_group_id = card_product | split: 'gid=' | last | split: "~" | first %}{% endif %}
  {% if card_product contains 'id=' %}
    {% assign id = card_product | split: 'id=' | last | split: "~" | first %}{% endif %}
  {% if card_product contains 'cat=' %}
    {% assign category = card_product | split: 'cat=' | last | split: "~" | first | url_decode %}{% endif %}
  {% if card_product contains 'pu=' %}
    {% assign product_url = card_product | split: 'pu=' | last | split: "~" | first | url_decode %}{% endif %}
  {% if card_product contains 'ti=' %}
    {% assign title = card_product | split: 'ti=' | last | split: "~" | first | url_decode %}{% endif %}
  {% if card_product contains 'pr=' %}
    {% assign price = card_product | split: 'pr=' | last | split: "~" | first %}{% endif %}
  {% if card_product contains 'qu=' %}
    {%- assign quantity = card_product | split: 'qu=' | last | split: "~" | first -%}{% endif %}
  {% if card_product contains 'ras=' %}
    {%- assign reviews = card_product | split: 'ras=' | last | split: "~" | first -%}{% endif %}
  {% if card_product contains 'si=' %}
    {%- assign sizes = card_product | split: 'si=' | last | split: "~" | first | split: '^' | url_decode -%}{% endif %}
  {% if card_product contains 'sk=' %}
    {%- assign sku = card_product | split: 'sk=' | last | split: "~" | first -%}{% endif %}
  {% if card_product contains 'ta=' %}
    {%- assign tags = card_product | split: 'ta=' | last | split: "~" | first -%}{% endif %}
  {% if card_product contains 'ua=' %}
    {%- assign updated_at = card_product | split: 'ua=' | last | split: "~" | first -%}{% endif %}
  {% if card_product contains 'st=' %}
    {%- assign stickers = card_product | split: 'st=' | last | split: "~" | first -%}{% endif %}
  {% if card_product contains 'rc=' %}
    {%- assign reviews_count = card_product | split: 'rc=' | last | split: "~" | first -%}{% endif %}
  {% if card_product contains 'br=' %}
    {%- assign brand = card_product | split: 'br=' | last | split: "~" | first | url_decode -%}
{% endif %}

  {%- comment -%} Here on product we have access to Shopify Product Object {%- endcomment -%}
  {%- comment -%} Warning: Mind about Findify manipulation rules, post-rules, pre-rules that might change the data on Findify side. {%- endcomment -%}
  {%- assign handler = product_url | split: '"pageurl":"' | split: "?" | first | replace: "/products/" | replace: '["' -%}
{%- assign product = all_products[handler] -%}

  {%- comment -%} Product card variants properties mapper {%- endcomment -%}
{%- assign variants = card_product | split: 'va=' | last | split: '~' | first | url_decode | split: '^' -%}

  {%- comment -%} Custom fields mapper, card.split('cf=') = [false, true, false, true] {%- endcomment -%}

  {%- comment -%} Custom fields are now being used in both product object itself and in variants, need more tests when it's different {%- endcomment -%}
  {%- assign custom_fields = product_card | split: 'cf=' -%}
  {%- assign product_custom_fields = custom_fields[1] | split: '~' | first -%}
  {%- assign variant_custom_fields = custom_fields[3] | split: '~' | first -%}
  {%- comment -%} Product custom fields properties mapper, type: [] {%- endcomment -%}
  {%- if product_custom_fields contains 'sale_price=' %}
    {%- assign product_custom_field_sale_prices = product_custom_fields | split: 'sale_price=' | last | split: '^' | first | split: '|' -%}{% endif -%}
  {%- if product_custom_fields contains 'variant_image_url=' %}
    {%- assign product_custom_field_variant_image_url = product_custom_fields | split: 'variant_image_url=' | last | split: '^' | first | split: '|' -%}{% endif -%}
  {%- comment -%} Variant custom fields properties mapper, type: [] {%- endcomment -%}
  {%- if variant_custom_fields contains 'sale_price=' %}
    {%- assign variant_custom_field_sale_prices = variant_custom_fields | split: 'sale_price=' | last | split: '^' | first | split: '|' -%}{% endif -%}
  {%- if variant_custom_fields contains 'variant_image_url=' %}
    {%- assign variant_custom_field_variant_image_url = variant_custom_fields | split: 'variant_image_url=' | last | split: '^' | first | split: '|' -%}{% endif -%}

  <div id={{ id }} class="findify-product-card {{ additional_class }}">
    <a href={{ product_url }}>
      <div class='image-container'>
        <img
          srcset="
                    {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                  "
          src="{{ product.featured_media | image_url: width: 533 }}"
          alt="{{ product.featured_media.alt | escape }}"
          class="adapt first-image motion-reduce"
          loading="lazy"
          width="{{ product.featured_media.width }}"
          height="300px">
        {%- if product.media[1] != null -%}
          <img
            srcset="
              {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ product.media[1] | image_url }} {{ product.media[1].width }}w
            "
            src="{{ product.media[1] | image_url: width: 533 }}"
            alt=""
            class="adapt second-image motion-reduce"
            loading="lazy"
            width="{{ product.media[1].width }}"
            height="300px">
        {%- endif -%}
      </div>
      <div class="content-wrapper">
        {% if brand %}
          <div class="findify-product-brand">{{ brand }}</div>
        {% endif %}
        <div class='findify-product-title findify-cut-text'>
          <label>{{ title }}</label>
        </div>
        {% render 'findify-product-price'
          , price: price %}
        {% if reviews %}
          {% render 'findify-rating'
            , value: reviews
            , count: reviews_count %}
        {% endif %}
      </div>
    </a>

    <script>
        /* IMPORTANT: Script tags are executed within this file element. */
        const id = "{{id}}";
        const variantId = "{{id}}";
        const widgetType = "{{widget_type}}";

        initOnProductCardClick(id, { widgetType, variantId });
    </script>

  </div>

{%- endif -%}