{% assign selectedParts = selected | split: '-' %}
{% assign selectedLabel = selectedParts[0] %}
{% assign selectedField = selectedParts[1] %}
{% assign selectedOrder = selectedParts[2] %}

{%if is_modal == false%}
<div id="findify-sorting" class="findify-sorting desktop">
    <div class="findify-sorting-body">
        <span>
            Sort by:
        </span>
        <button id="findify-sorting-button" class="findify-sorting-btn">
            {{ selectedLabel }}
            {% render 'findify-icon-arrow' %}
        </button>
    </div>
    <ul id="findify-sorting-list" class="findify-sorting-list">
        {% for option in options %}
        {% assign parts = option | split: '-' %}
        {% assign label = parts[0] %}
        {% assign field = parts[1] %}
        {% assign order = parts[2] %}

        {% if field == selectedField and order == selectedOrder %}
        {% else %}
        <li class="findify-sorting-option" field="{{field}}" order="{{order}}">
            <span>{{label}}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{%else%}

<div id="findify-sorting-mobile" class="findify-sorting mobile">
    <div class="findify-sorting-body">
        <button id="findify-sorting-toggler" class="findify-search-actions-toggle-btn">
            {% render 'findify-icon-sorting' %}
            SORT BY
        </button>
    </div>

    <aside id="findify-sorting-sidebar" class="findify-sorting-sidebar">
        <button id="findify-modal-sorting-header" class="findify-modal-header">
            <span class="findify-modal-header-title">Sorting</span>
            {% render 'findify-icon-cross' %}
        </button>
        <ul id="findify-sorting-list" class="findify-sorting-mobile-list">
            {% for option in options %}
            {% assign parts = option | split: '-' %}
            {% assign label = parts[0] %}
            {% assign field = parts[1] %}
            {% assign order = parts[2] %}
            <li class="findify-sorting-option" field="{{field}}" order="{{order}}">
            <input type="radio" {% if field == selectedField and order == selectedOrder %}checked{% endif %}>
                <span>{{label}}</span>
            </li>
            {% endfor %}
        </ul>
        <button id="findify-modal-sorting-footer" class="findify-modal-footer">See results</button>
    </aside>

</div>
{%endif%}