{% liquid
  assign color_counter = 0
  assign max_colors = 10
%}

<div class="findify-color-swatch-wrapper">
    {% for color in colors  %}
      {% liquid
          assign color_lowercase = color | downcase
          for colormap_item in colormap
            assign colormap_item_name = colormap_item | split: ':' | first
            assign colormap_item_value = colormap_item | split: ':' | last
    
            if colormap_item_name == color_lowercase
              assign current_color_name = color | url_decode
              assign current_color_value = colormap_item_value | url_decode
            endif
        endfor
      %}
    
    {% if current_color_name and current_color_value %}
      {% assign color_counter = color_counter | plus: 1 %}
      {% if color_counter <= max_colors %}
        {% liquid
          if current_color_value contains "https"
            assign styling = "background: no-repeat url(" | append: current_color_value | append: ") center"
          else
            assign styling = "background-color:" | append: current_color_value
          endif
          if current_color_value contains "fff"
            assign styling = styling | append: '; border: 1px solid #000'
          endif
        %}

        {% assign found_variant = variants | split: current_color_name %}
        {% assign matched_variant = found_variant[1] %}

        {% assign variant_id = matched_variant | split: "id=" | last | split: "~" | first %}
        {% assign variant_url = product_url | split: "?variant=" | first | append: "?variant=" | append: variant_id %}
        {% assign variant_image = matched_variant | split: "image_url=" | last | split: "~" | first | append: "&width=940" %}
        
        <div 
          class="findify-color-swatch" 
          style="{{styling}}" 
          onclick="onSwatchClick(event, '{{ product_id }}', '{{ product_url }}', '{{ variant_url }}', '{{ variant_image }}')"
        >
          <span class="findify-color-tooltip">
            {{ current_color_name | capitalize }}
          </span>
        </div>

      {% endif %}
    {% endif %}
  {% endfor %}

  {% if color_counter > max_colors %}
    {% assign other_colors = colors.size | minus: max_colors %}
    <div class="other-colors-btn">+{{ other_colors }}</div>
  {% endif %}
</div>