{% liquid
  assign filter_group_element_id = 'findify-filters-' | append: name
  assign input_id = 'findify-filter-search-' | append: name
%}

<div class="findify-filters--checkbox-search">
  <input
    id="{{ input_id }}"
    placeholder="{{ 'findify.filters.search_placeholder' | t }}"
    type="text"
    ref="{{ name }}" />
  <svg class="findify-filters--checkbox-search-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
    <circle cx="5" cy="5" r="4.25" stroke="black" stroke-width="1.5"/>
    <line x1="8.53033" y1="8.46967" x2="12.5303" y2="12.4697" stroke="black" stroke-width="1.5"/>
  </svg>
</div>

<script>
  filterSearch("{{ filter_group_element_id }}", "{{ input_id }}");
</script>