{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}

{%- assign query_parameters = page_url | split: 'sections=findify-pagination&' | last -%}
{%- assign paginateObj = query_parameters | split: 'paginate=' | last | replace: '%27', "'" | replace: '%22', '' | replace: '%7C', '|' -%}

{%- assign current_offset = paginateObj | split: 'current_offset:' | last | split: '|' | first -%}
{%- assign current_page = paginateObj | split: 'current_page:' | last | split: '|' | first -%}
{%- assign items = paginateObj | split: 'items:' | last | split: '|' | first -%}
{%- assign next = paginateObj | split: 'next:' | last | split: '|' | first -%}
{%- assign page_param = paginateObj | split: 'page_param:' | last | split: '|' | first -%}
{%- assign page_size = paginateObj | split: 'page_size:' | last | split: '|' | first -%}
{%- assign pages = paginateObj | split: 'pages:' | last | split: '|' | first -%}
{%- assign partsString = paginateObj | split: 'parts:' | last | split: '|' | first -%}
{%- assign previous = paginateObj | split: 'previous:' | last | split: '|' | first -%}

{%- assign parts = partsString | split: ';' -%}

{%- assign nextPieces = next | split: '~' -%}
{%- assign next_is_link = nextPieces[0] -%}
{%- assign next_title = nextPieces[1] -%}
{%- assign next_url = nextPieces[2] | replace: '$', '&' -%}

{% if next_is_link contains "false" %}
    {% assign next = false %}
{% endif %}

{%- assign prevPieces = previous | split: '~' -%}
{%- assign previous_is_link = prevPieces[0] -%}
{%- assign previous_title = prevPieces[1] -%}
{%- assign previous_url = prevPieces[2] | replace: '$', '&' -%}

{% if previous_is_link contains "false" %}
    {% assign previous = false %}
{% endif %}

{%- if parts.size > 0 -%}
    <div id="findify-pagination" class="findify-pagination-wrapper">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
        <ul class="pagination__list list-unstyled" role="list">
        {%- if previous -%}
        <li>
            <a href="{{ previous_url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.previous' | t }}">
            {% render 'findify-icon-arrow' %}
            </a>
        </li>
        {%- endif -%}

        {%- for part in parts -%}
            {%- assign partPieces = part | split: '~' -%}
            {%- assign is_link = partPieces[0] -%}
            {%- assign title = partPieces[1] -%}
            {%- assign url = partPieces[2] | replace: '$', '&' -%}
            {% if is_link contains "false" %}
                {% assign is_link = false %}
            {% endif %}

            <li>
                {%- if is_link -%}
                <a href="{{ url }}{{ anchor }}" class="pagination__item link" aria-label="{{ 'general.pagination.page' | t: number: title }}">{{ title }}</a>
                {%- else -%}
                {%- if title == current_page -%}
                    <a role="link" aria-disabled="true" class="pagination__item pagination__item--current light" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: title }}">{{ title }}</a>
                {%- else -%}
                    <span class="pagination__item">{{ title }}</span>
                {%- endif -%}
                {%- endif -%}
            </li>
        {%- endfor -%}

        {%- if next -%}
        <li>
            <a href="{{ next_url }}{{ anchor }}" class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.next' | t }}" >
            {%- render 'findify-icon-arrow' -%}
            </a>
        </li>
        {%- endif -%}
        </ul>
    </nav>
    </div>
{%- endif -%}

{% schema %}
    {
    "name": "Findify pagination",
    "settings": []
    }
{% endschema %}