{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}
{%- assign query_parameters = page_url | split: 'sections=findify-recommendation&' | last -%}
{%- assign products = query_parameters | split: 'results=' | last | split: '&' | first | split:';' -%} {%- comment -%} 'products'[] {%- endcomment -%}
{%- assign recommendation_id = query_parameters | split: 'recommendation_id=' | last | split: '&' | first  -%} 
{%- assign desktop_grid_size = query_parameters | split: 'desktop_grid_size=' | last | split: '&' | first -%} 
{%- assign recommendation_title = query_parameters | split: 'recommendation_title=' | last | split: '&' | first -%} 
{%- assign colorMappingParam = page_url | split: "color_mapping=" | last | split: '&' | first -%}

<div class='findify-recommendation-container'>
  <h1 class='findify-swiper-title'> {{ recommendation_title }}</h1>

  <div id="{{ recommendation_id  }}" class='swiper'>
    <div class="swiper-wrapper" id="findify-products-{{recommendation_id}}"> 
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>


{% schema %}
{
    "name": "Findify recommendation",
    "tag": "section",
    "class": "section",
    "settings": []
}
{% endschema %}

      
<script>
/*
* This script block will be executed at the end of every Findify render cycle.
* This is the ideal place where to bind all the events of the DOM, such as filters or button events.
*/
  
  const selector = "#{{ recommendation_id  }}";
  
  const swiper = new Swiper(selector, {
    direction: "horizontal",
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      type: "bullets",
      clickable: true,
      dynamicBullets: true,
      dynamicMainBullets: 4,
    },
    slidesPerView: "{{ desktop_grid_size }}",
    breakpoints: {
      320: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      480: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      640: {
        slidesPerView: "{{ desktop_grid_size }}",
        spaceBetween: 30,
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  
  {% comment %} Note: Function: productCardAnalytics is a part of Assets => findify-analytics.js file {% endcomment %}
  productCardAnalytics(`#findify-products-{{recommendation_id}}`)
  
  
</script>