
{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split: '"' | first | replace: '\/','/' | replace:'\u0026','&' | url_decode  -%}
{%- assign parameters = page_url | split: 'sections=findify-promo-card&' | last -%}
{%- assign promo_settings = parameters | split: "&" -%}

{%- assign cta_text = promo_settings[0] | split: '=' | last -%}
{%- assign footer = promo_settings[1] | split: '=' | last -%}
{%- assign image_url = promo_settings[2] | split: '=' | last -%}
{%- assign redirect_link = promo_settings[3] | split: '=' | last -%}
{%- assign sub_header = promo_settings[4] | split: '=' | last -%}
{%- assign top_header = promo_settings[5] | split: '=' | last -%}
{%- assign id = promo_settings[6] | split: '=' | last -%}

<div id="findify-promo-card-{{id}}" class="findify-promo-card" >
    {% if image_url != ''  %}
        <style>
            #findify-promo-card-{{id}} .findify-promo-card-wrapper {
                background-image: url({{image_url}});
            }
        </style>
    {% endif %}
    <div class="findify-promo-card-wrapper">
        <div class="findify-promo-card-title-container">
            <h4 class="findify-promo-card-top-header">{{top_header}}</h4>
            <p class="findify-promo-card-subheader">{{sub_header}}</p>
        </div>
        <a 
            href="{{redirect_link}}"
            class="findify-promo-card-cta-button"
        >{{cta_text}}
        </a>
    </div>
    {% comment %}
        <div class="findify-promo-card-footer">{{footer}}</div>
    {% endcomment %}
</div>

{% schema %}
    {
      "name": "Findify promo card",
      "settings": []
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}