{%- include 'findify-product-card-connector' -%}

<div id="{{ id }}" class="findify-product-card {{ class }}">
  <a class="findify-product-link" href={{ product_url }}>
    <div class='image-container'>
      {% render 'findify-product-image'
        , media: product.featured_media
        , class: 'first-image' %}
      {%- if product.media[1] != null -%}
        {% render 'findify-product-image'
          , media: product.media[1]
          , class: 'second-image' %}
      {%- endif -%}
    </div>
  </a>
  <div class="content-wrapper">
    {% if brand %}
      <div class="findify-product-brand">{{ brand }}</div>
    {% endif %}
    <a class="findify-product-link" href={{ product_url }}>
      <div class='findify-product-title findify-cut-text'>
        <label>{{ product.title }}</label>
      </div>
    </a>
    {% render 'findify-product-price'
      , product: product %}
    {% if reviews %}
      {% render 'findify-rating'
        , value: reviews
        , count: reviews_count %}
    {% endif %}
  </div>


  <script>
        /* IMPORTANT: Script tags are executed within this file element. */
        const id = "{{id}}";
        const selected_variant_id = "{{selected_variant_id}}";
        const widget = "{{widget}}";

        initOnProductCardClick(id, { widget, selected_variant_id });
  </script>

</div>